body {
  background-color: #f0f8ff; /* Light blue color */
  color: #333; /* Dark text color */
  margin: 0; /* Reset margin */
}

.home-page {
  background-image: url('../assets/IMG-20221212-WA0005.jpg'); /* Ensure the path is correct */
  background-size: cover;
  background-position: center;
  padding: 20px;
    /* Optional: set a background color in case the image fails to load */
  background-color: #f0f8ff; /* This will set a light blue background as a fallback */
}

.introduction {
  margin: 40px 0;
}

.features {
  margin: 40px 0;
}

.testimonials {
  display: flex;
  justify-content: space-between;
}

.testimonial {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin: 10px; /* Add some spacing between testimonials */
}

/* CTA Section Styles */
.cta-section {
  margin: 40px 0;
  text-align: center;
}
