body {
  background-color: #f0f8ff; /* Light blue color */
  color: #333; /* Dark text color */
  margin: 0; /* Reset margin */
}

.home-page {
/*  background-image: url('../assets/IMG-20221212-WA0005.jpg'); /* Ensure the path is correct */
  background-size: cover;
  background-position: center;
  padding: 20px;
  background-color: #f0f8ff; /* This will set a light blue background as a fallback */


/* Background image section */
.background-section {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Introduction Section */
.introduction {
  margin: 40px 0;
}

/* School Information section */
.school-info-section {
  margin-top: 50px;
}

.info-card {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.info-card:hover {
  background-color: #d4a373;
}

.info-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.info-description {
  font-size: 1rem;
}

/* Welcome Section */
.welcome-section {
  text-align: center;
  margin: 50px 0;
}

.school-head-image {
  width: 150px;
  border-radius: 50%;
}

.welcome-title {
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* Features Section */
.features {
  margin: 40px 0;
}

.testimonials {
  display: flex;
  justify-content: space-between;
}

.testimonial {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin: 10px; /* Add some spacing between testimonials */
}

/* Latest News Section */
.news-section {
  margin-top: 50px;
}

.news-card {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  text-align: center;
}

/* Call to Action Section */
.cta-section {
  margin: 40px 0;
  text-align: center;
}

/* Quick Links */
.quick-links-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.quick-link {
  font-size: 1.1rem;
  color: #333;
  text-decoration: none;
  background-color: #e0e0e0;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.quick-link:hover {
  background-color: #d4a373;
}
